<!DOCTYPE html>
<html lang="en">
<head>

  {% for key,value in file.items %}
    <title>{{key}}</title>
  {%  endfor %}

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>

<body style="margin:20px auto">
	<h1>Data Analysis</h1>
	<br>
	<h2>Mean = {{mean}}</h2><br>
	<h2>Median = {{median}}</h2><br>
	<h2>Max = {{max}}</h2><br>
  <div align="center">
    <form method="post" action="{% url 'send_email' %}">
      {% csrf_token %}
      <input type="text" name = "title" placeholder="Title of mail"><br><br>
      <input type="email" name = "email" placeholder="receiver mail address" required><br><br>
      <textarea name="message" required></textarea><br><br>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</body>
</html>